* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    color: #111;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

/* CALCULATOR */

#calculator {
    margin: 0 auto;
    background-color: #666;
    border-radius: 14px;
    border: 2px solid #111;
    padding: 1rem;
    width: 600px;
    font-size: 1.5rem;
}

input {
    width: 100%;
    border-radius: 14px;
    border: 2px solid #111;
    margin-bottom: 1rem;
    padding: 1rem;
    outline: none;
    font-size: 2rem;
    background-color: #fff;
    color: #111;
    text-align: right;
}

#panel {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
}

button {
    border-radius: 14px;
    border: 2px solid #111;
    font-size: 2rem;
}

button:hover {
    background-color: #00f;
    color: #eee;
    transition: all linear .25s;
    cursor: pointer;
}

/* RESULT BOX */
#totalContainer {
    background-color: #fff;
    border-radius: 14px;
    border: 2px solid #111;

    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#total {
    color: #f00;
    font-size: 1.5rem;
}

@media (max-width: 650px) {
    h1 {
        margin: .5rem 0;
    }

    #calculator {
        padding: .5rem;
        width: 75%;
        font-size: 1rem;
    }

    input {
        margin-bottom: .5rem;
        padding: .5rem;
        font-size: 1rem;
    }

    #panel {
        gap: .5rem;
    }

    button {
        font-size: 1rem;
    }

    #totalContainer {
        top: auto;
        right: auto;
        left: 50%;
        transform: translateX(-50%);

        margin-top: 1rem;
        width: 75%;
    }

    #total {
        font-size: 1rem;
    }
}